*{
    margin: 0em;
    padding: 0em;
}

header img {
    width: 100%;
   
}

nav {
    background-color: black;
    padding-top: 0.6em;
    padding-bottom: 1em;
    margin-top: -1em;
    margin-bottom: -1em;
}

hr {
    margin-top: 1em;
}



nav h3 details summary {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 1em;
    margin-left: 3em;
}

nav h3 details ul {
text-align: center;
margin-bottom: 2em;
}

nav h3 details ul li {
    display: inline;
    margin-left: 1em;
}

nav h3 details ul li a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-decoration: none;
    padding: 0.5em;
    border: 0.1em solid;
    border-color: black;
    border-radius: 2em;
    background-color: orangered;
}

nav h3 details ul li a:hover {
    background-image: url(../img/fondo_basket.jpeg);
}

footer{
    background-color: black;
    color: white;
    padding: 1em;
    margin-top: -2em;
}

footer strong a {
    color:pink;
    text-decoration: none;
    margin-left: 0.5em;
}